* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(228, 228, 228);
  width: 100%;
}

.main-menu {
  text-align: center;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.option-btn {
  background: #007bff;
  color: #fff;
  padding: 18px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  text-decoration: none;
  transition: background 0.2s;
}

.option-btn:hover {
  background: #0056b3;
}

.form-page,
.record-page,
.contact-page {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input,
textarea,
select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.success {
  color: #28a745;
  font-weight: bold;
}

.error {
  color: #dc3545;
  font-weight: bold;
}

.agents-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.agent-card {
  background: #d4edda;
  /* background: #e9ecef; */
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.agent-card:hover {
  background: #d4edda;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* ------------------------------------------- */
.form-container {
  background: url('../assets/girl.webp');
  background-position-x: 60%;
  background-position-y: 60%;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .form-container {
    background: url('../assets/girl.webp');
    background-position-x: 70%;
    background-position-y: 0%;
  }
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.record-btn {
  background-color: green;
  color: white;
  width: 40%;
  font-size: 14px;
}

.send-btn {
  background-color: green;
  color: white;
  font-size: 12px;
  padding: 7px 20px;
}

.stop-btn {
  background-color: darkred;
  color: white;
  font-size: 12px;
  width: 40%;
  padding: 7px 20px;
}